<section>
    <div class="tab-content flex flex-col gap-y-4 border border-gray rounded-[10px] bg-white p-4">
      <div class="flex items-center justify-between border-b border-gray pb-2">
        <div class="flex items-center gap-x-2">
          <a class="flex h-10 w-8 items-center justify-start" [title]="'labels.back' | translate" routerLink="/building">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28" color="#000000" fill="none" class="hover:text-primary">
              <path d="M3.99982 11.9998L19.9998 11.9998" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8.99963 17C8.99963 17 3.99968 13.3176 3.99966 12C3.99965 10.6824 8.99966 7 8.99966 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </a>
          <h1 class="text-3xl">
            {{ 'labels.building' | translate }}
          </h1>
        </div>
      </div>
      <div class="">
        <form [formGroup]="form" class="grid grid-cols-3 gap-4 mb-4 text-blueDarkLogo font-semibold">
          <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1">
            <span class="label-control">{{ 'labels.buildingName' | translate }}</span>
            <alx-input-text formControlName="buildingtName" [placeholder]="''" [maxlength]="50" />
          </div>
          <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1">
            <span class="label-control">{{ 'labels.responsible' | translate }}</span>
            <alx-input-text formControlName="responsible" [placeholder]="''" [maxlength]="50" />
          </div>
        </form>
        <div class="flex cols-3 border-t border-gray pt-4 justify-items-end justify-end gap-4">
            <button type="button" [disabled]="!form.valid || form.pristine" (click)="save()" class="button-transition w-64 cursor-pointer rounded-lg border-none bg-buttons hover:bg-buttonsHover disabled:bg-gray-200 disabled:text-gray-700 px-7 py-3.5 text-base font-semibold text-white col-span-3">
                {{ 'labels.saveEndContinue' | translate }}
              </button>
            <button type="button" [disabled]="!form.valid || form.pristine" (click)="save()" class="button-transition w-64 cursor-pointer rounded-lg border-none bg-buttons hover:bg-buttonsHover disabled:bg-gray-200 disabled:text-gray-700 px-7 py-3.5 text-base font-semibold text-white col-span-3">
            {{ 'labels.save' | translate }}
          </button>
        </div>
      </div>
    </div>
  </section>
