<section>
  <div class="tab-content flex flex-col gap-y-4 border border-gray rounded-[10px] bg-white p-4">
    <div class="flex items-center justify-between border-b border-gray pb-2">
      <div class="flex items-center gap-x-2">
        <a class="flex h-10 w-8 items-center justify-start" [title]="'labels.back' | translate" routerLink="/customers">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28" color="#000000" fill="none" class="hover:text-primary">
            <path d="M3.99982 11.9998L19.9998 11.9998" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M8.99963 17C8.99963 17 3.99968 13.3176 3.99966 12C3.99965 10.6824 8.99966 7 8.99966 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>          
        </a>
        <h1 class="text-3xl">
          {{ 'labels.customer' | translate }}
        </h1>
      </div>
    </div>
    <div class="tab-pane active">
      <form [formGroup]="form" class="grid grid-cols-3 gap-4 mb-4 text-primary-5 font-semibold">
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-2">
          <span class="label-control">{{ 'labels.typeCustomer' | translate }}</span>
          <div class="flex justify-start items-center">
            <input (change)="onCustomerTypeChange()" value="physicalPerson" formControlName="customerType" type="radio" class="ml-6 h-5 w-5 cursor-pointer appearance-none rounded-full border border-gray-300 checked:border-primary transition-all checked:bg-buttons text-primary">
            <label class="ml-3 block text-sm/6 font-medium text-gray-900">pessoa física</label>                  
            <input (change)="onCustomerTypeChange()" value="companyPerson" formControlName="customerType" type="radio" class="ml-6 h-5 w-5 cursor-pointer appearance-none rounded-full border border-gray-300 checked:border-primary transition-all checked:bg-buttons text-primary ">
            <label class="ml-3 block text-sm/6 font-medium text-gray-900">pessoa jurídica</label>
          </div>
        </div>  
        <br/>
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1" *ngIf="customerType === 'physicalPerson'">
          <span class="label-control">{{ 'labels.cpf' | translate }}</span>
          <alx-input-text formControlName="cpf" [placeholder]="''" [maxlength]="50" />
        </div>     
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1" *ngIf="customerType === 'physicalPerson'">
          <span class="label-control">{{ 'labels.customerName' | translate }}</span>
          <alx-input-text formControlName="fullName" [placeholder]="''" [maxlength]="50" />
        </div>
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1" *ngIf="customerType === 'physicalPerson'">
          <span class="label-control">{{ 'labels.dateOfBirth' | translate }}</span>
          <div class="relative">
            <p-calendar formControlName="dateOfBirth" [placeholder]="''" dateFormat="dd/mm/yy" [showButtonBar]="true" [showIcon]="true" [styleClass]="'c-input-control'" />
            <div *ngIf="dateOfBirth?.invalid" class="c-invalid-input">❗</div>
          </div>
        </div>
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1" *ngIf="customerType === 'companyPerson'">
          <span class="label-control">{{ 'labels.cnpj' | translate }}</span>
          <alx-input-text formControlName="cnpj" [placeholder]="''" [maxlength]="50" />
        </div> 
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1" *ngIf="customerType === 'companyPerson'">
          <span class="label-control">{{ 'labels.reasonName' | translate }}</span>
          <alx-input-text formControlName="reasonName" [placeholder]="''" [maxlength]="50" />
        </div>
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1" *ngIf="customerType === 'companyPerson'">
          <span class="label-control">{{ 'labels.fantasyName' | translate }}</span>
          <alx-input-text formControlName="fantasyName" [placeholder]="''" [maxlength]="50" />
        </div>       
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1">
          <span class="label-control">{{ 'labels.phone' | translate }}</span>
          <alx-input-text formControlName="phoneNumber" [placeholder]="''" [mask]="'(00) 00000-0000'" />
        </div>
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1">
          <span class="label-control">{{ 'labels.email' | translate }}</span>
          <alx-input-text formControlName="email" [placeholder]="''" [maxlength]="255" />
        </div>
        <div class="grid grid-cols-3 border-t border-gray pt-4 sm:col-span-3">
          <span class="text-sm antialised font-medium">{{ 'labels.address' | translate }}</span>
        </div>
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1">
          <span class="label-control">{{ 'labels.cep' | translate }}</span>
          <alx-input-text formControlName="cep" [placeholder]="''" [maxlength]="50" [mask]="'00000000'"/>
        </div>
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1">
          <span class="label-control">{{ 'labels.address' | translate }}</span>
          <alx-input-text formControlName="address" [placeholder]="''" [maxlength]="255" />
        </div>
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1">
          <span class="label-control">{{ 'labels.numberaddress' | translate }}</span>
          <alx-input-text formControlName="numberAddress" [placeholder]="''" [maxlength]="255" />
        </div>
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1">
          <span class="label-control">{{ 'labels.district' | translate }}</span>
          <alx-input-text formControlName="district" [placeholder]="''" [maxlength]="255" />
        </div>
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1">
          <span class="label-control">{{ 'labels.city' | translate }}</span>
          <alx-input-text formControlName="city" [placeholder]="''" [maxlength]="255" />
        </div>
        <div class="flex flex-col gap-y-2 col-span-3 sm:col-span-1">
          <span class="label-control">{{ 'labels.complement' | translate }}</span>
          <alx-input-text formControlName="complement" [placeholder]="''" [maxlength]="255" />
        </div>
      </form>
      <div class="grid grid-cols-3 border-t border-gray pt-4">
        <button type="button" [disabled]="!form.valid || form.pristine" (click)="save()" class="button-transition w-full cursor-pointer rounded-lg border-none bg-primary hover:bg-primary-2 disabled:bg-gray-300 px-7 py-3.5 text-base font-semibold text-white col-span-3 sm:col-start-3">
          {{ 'labels.save' | translate }}
        </button>
      </div>
    </div>
  </div>
</section>